<div class="card">
    <div class="card-header">
        <h1>Product List</h1>
        {{ pageTitle }}
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-md-2">
                Filter by:
            </div>

            <div class="col-md-4">
                <input type="text"
                       [(ngModel)]="listFilter" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <h4>Filter by: {{ listFilter }}</h4>
            </div>
            <br>

        </div>
        <div class="table-responsive">
            <table class="table"
                   *ngIf="products.length > 0">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                    [style.width.px]='buttomWidth'
                                    (click)="toggleImage()">
                                {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>

                        <th>Product</th>
                        <th>Code</th>
                        <th>Avaliable</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>

                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor='let product of filteredProducts'
                        [style.padding.px]='paddingHeight'>
                        <td>
                            <img *ngIf='showImage'
                                 [src]='product.imageUrl'
                                 [title]='product.productName'
                                 [style.width.px]='imageWidth'
                                 [style.margin-left.px]='imageMarginLeft' />
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency: 'USD': 'symbol': '1.2-2' }}</td>
                        <td>
                            <pm-star [rating]="product.starRating"
                                     (ratingClicked)="onRatingClicked($event)">
                            </pm-star>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>

</div>